<div class="container">
  <form [formGroup]="registerForm">
    <div class="form-row" style="width: auto;">
      <div class="form-group" style="width: 60%; text-align: left;">
        <label>Regiao</label>
        <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('nomeRegiao').errors
         && registerForm.get('nomeRegiao').touched}"
        formControlName="nomeRegiao" placeholder="Nome da Região"/>
        <div *ngIf="registerForm.get('nomeRegiao').hasError('required')
         && registerForm.get('nomeRegiao').touched" class="invalid-feedback">
        Nome da Região é obrigatório.
        </div>
      </div>
      <div class="form-group" style="width: 60%; text-align: left;">
        <label>Estado</label>
        <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('estado').errors
         && registerForm.get('estado').touched}"
        formControlName="estado" placeholder="Nome do Estado"/>
        <div *ngIf="registerForm.get('estado').hasError('required')
         && registerForm.get('estado').touched" class="invalid-feedback">
        Nome do Estado é obrigatório.
        </div>
      </div>
      <div class="form-group" style="width: 60%; text-align: left;">
        <label>Cidade</label>
        <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('cidade').errors
         && registerForm.get('cidade').touched}"
        formControlName="cidade" placeholder="Nome da Cidade"/>
        <div *ngIf="registerForm.get('cidade').hasError('required')
         && registerForm.get('cidade').touched" class="invalid-feedback">
        Nome da Cidade é obrigatório.
        </div>
      </div>
    </div>
      <div class="form-group" style="width: 200px;">
        <button class="form-control btnSalvar" id="btnSalvar" [disabled] = "!registerForm.valid" (click)="novaRegiao(regiao)">Salvar</button>
      </div>
      <table class="table" style="width:auto">
        <thead class="thead-light">
          <tr>
            <th id='id' style="width: 5%;">#</th>
            <th id='bandeira' style="width: 75%;">Bandeira</th>
            <th id='opções' style="width: 10%;">Excluir</th>
          </tr>
        </thead>
        <tbody *ngIf="regioes && regioes.length">
          <tr *ngFor="let regiao of regioes">
            <td>{{regiao.id}}</td>
            <td>{{regiao.nomeRegiao}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-sm btn-danger" tooltip="Excluir">
                  <i class="fa fa-eraser"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!regioes">
          <tr>
            <td colspan="7" class="text-center">
              <h4>
                Nenhuma bandeira encontrado!
              </h4>
            </td>
          </tr>
        </tfoot>
      </table>
  </form>
</div>
